<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			{include file="parts-event-details-html.tmpl"}
		</td>
	</tr>
	<tr>
		<td style="padding-left:10px">
			<br /><br />
			{Label calendar.event.mail.showeventincalendarview}:<br />
			<a href="{$eventlink}">{$eventlink}</a>
		</td>
	</tr>
</table>