========================================================================

{math equation="e - s" e=$event.date_end s=$event.date_start assign=duration}{math equation="d / 3600" d=$duration assign=duration}
{Label calendar.event.attr.timespan}:	{formatRange $event.date_start $event.date_end} {if $event.date_end-$event.date_start}({formatDuration $event.date_end-$event.date_start}){/if}
{Label core.global.title}:	{htmlencode $event.title}
{Label calendar.event.attr.place}:	{$event.place}

{Label calendar.event.mail.event.from}:	{$personWrite.firstname} {$personWrite.lastname}{if $hideEmails != true} <{$personWrite.email}>{/if}
{if $personWrite.id !== $personSend.id}{Label calendar.event.mail.sentBy}:	{$personSend.firstname} {$personSend.lastname}{if $hideEmails != true} <{$personSend.email}>{/if}{/if}
========================================================================

{html2text $event.description}

========================================================================

{Label calendar.event.attr.attendees}:

{foreach $attendees personData}
*	{$personData.firstname} {$personData.lastname}
{/foreach}
========================================================================