@import "../../../../core/config/theme.scss";



/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconProfile {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconProfile .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* --------------
	Tab icons
   -------------- */
#profile-general-tabs .tabkey-main .icon {
	background:url("../img/icons.png") no-repeat 0 6px;
}

#profile-general-tabs .tabkey-password .icon {
	background:url("../img/icons.png") no-repeat 0 -25px;
}



/* --------------
	Inner styles
   -------------- */
p.profileConfigExplanation {
	border:1px solid $colorNeutral01;
	margin:6px 0;
	padding:6px 12px 12px 12px;
}