

{include "core/view/copyright_notice.tmpl"}

	// ****************************************************************************
	// ATTENTION - TODOYU MANAGED FILE
	// THIS FILE IS AUTOMATICALLY UPDATED BY TODOYU
	//
	// EVERYTHING EXCEPT THE 'installed' KEY WILL BE REMOVED ON NEXT CONFIG UPDATE
	// ****************************************************************************

	// Installed extensions
Todoyu::$CONFIG['EXT']['installed'] = array(
	'{implode("',\n\t'", $extensions)}'
);

