{$createLabel = Label('core.global.createNew')}
{$typeLabel = Label($config.label)}
{$buttonLabel = cat($createLabel ': '  $typeLabel)}

<div class="recordTypeInfo">
	<div class="add">{Button label=$buttonLabel class="add" onclick="Todoyu.Ext.sysmanager.Records.add('$extKey', '$type')"}</div>
	{Label $config.description}<br />
	{count($records)} {Label core.global.records}
</div>

<table cellspacing="0" cellpadding="0" class="list recordsList typeRecords recordList{ucfirst($type)}">
	<colgroup>
		<col class="icon" />
		<col class="label" />
		<col class="action" />
	</colgroup>

	<tr class="header">
		<th scope="col" class="icon">&nbsp;</th>
		<th scope="col" class="label">{Label $config.label}</th>
		<th scope="col" class="actions last">&nbsp;</th>
	</tr>

{foreach $records record}
	<tr class="{cycle values="odd,even"} {getRecordBooleanColumnsClassnames $record}">
		<td class="icon"></td>
		<td class="recordtype">
			<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.Records.edit('{$extKey}', '{$type}', {$record.id})" title="ID: {$record.id}">
				{Label $record.label true}
			</a>
		</td>
		<td class="actions">
			<div class="icon edit" onclick="Todoyu.Ext.sysmanager.Records.edit('{$extKey}', '{$type}', {$record.id})"></div>
			{if $record.isDeletable}
				<div class="icon delete" onclick="Todoyu.Ext.sysmanager.Records.remove('{$extKey}', '{$type}', {$record.id})"></div>
			{else}
				<div class="icon delete disabled"></div>
			{/if}
		</td>
	</tr>
{/foreach}

</table>