{html2text $comment.comment true}

{Label comment.ext.mail.showcommentinprojectview}:
{html2text $commentlink true}

========================================================================

{$task.title}
------------------------------------------------------------------------
{html2text $task.description true}

========================================================================