{extends "core/view/base.tmpl"}

{* left panel with widgets *}
{block "panel"}
	{$panelWidgets}
{/block}

{block "contentTabs"}
	{$tabHeads}
{/block}

{block "contentBody"}
	{$activeTabContent}
{/block}