<div class="panelwidgetContent">
{foreach $types type typeFiltersets}
	<h2>{$typeFiltersets.title}</h2>
	<span class="scrollbarHide overflowHidden displayBlock">
		{$typeLower = strtolower($type)}
		{if is_array($typeFiltersets.options)}
			{select options=$typeFiltersets.options value=$selected id="panelwidget-$id-list-$typeLower" multiple=true}
		{/if}
	</span>
{else}
	<div class="notification">
		{Label portal.panelwidget-filterpresetlist.error.noFilters}
	</div>
{/foreach}

{* ---------- Manage filter presets button ---------- *}
{restrict 'search' 'general:area'}
	<br />
	{$numFiltersets = count(TodoyuArray::mergeSubArrays(TodoyuArray::getColumn($types, 'options')))}
	{if $numFiltersets > 0}
		{Button label="portal.panelwidget-filterpresetlist.manage" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{else}
		{Button label="portal.panelwidget-filterpresetlist.create" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{/if}
{/restrict}
</div>