<div class="mainGrid month" id="calendarBody">
	<div id="gridContainer" class="monthMode">

		{* --------------------------- Days names (Sun-Sat / Mon-Sun) ------------------------- *}
		<table class="mv-daynames-table">
			<tbody>
				<tr>
					{* Day columns: Mo-So *}
					{foreach $dayColumns dayColumn}
						<th class="mv-dayname {cycle values="odd,even"}" title="{$dayColumn.title}">
							{$dayColumn.label}
						</th>
					{/foreach}
				</tr>
			</tbody>
		</table>

		<div id="mvEventContainer" class="mv-event-container contextmenucalendarbody">

		{foreach $eventsPerWeek weekDays}
			<div class="month-row">
				<table class="standardGrid">

					{* Day titles *}
					<tr>
						{foreach $weekDays dateKey dayConfig 'weekDayTitles'}
							<td id="createEventAt-{date 'Y-m-d' $dayConfig.date}" title="{$dayConfig.title} {if $dayConfig.today}({Label calendar.ext.today}){/if}" class="title{if $dayConfig.inCurrentMonth} inSelMonthTitle{/if}{if $dayConfig.today} ttoday{/if}">
								{* ------ Week number (only for mondays) ----- *}
								{if $.foreach.weekDayTitles.first}
									<span class="weekNumber" title="{$dayConfig.week}" onclick="Todoyu.Ext.calendar.showWeek('{date 'Y-m-d' $timestamps[$dayCounter]}')">
										{$dayConfig.week}
									</span>
								{/if}
								{* ------ Holiday Icon ----- *}
								{*
								{if !empty($holidays[$dayDateKey]) && sizeof($holidays[$dayDateKey])>0}
									<span id="holiday-{$timestamps[$dayCounter]}" class="holiday quickInfoHoliday"></span>
								{/if}
								*}
								{* ------- date ------- *}
								<span class="month-date" onclick="Todoyu.Ext.calendar.showDay('{date 'Y-m-d' $dayConfig.date}')">
									{$dayConfig.label}
								</span>
							</td>
						{/foreach}
					</tr>

					{* Day content *}
					<tr>
						{foreach $weekDays dateKey dayConfig 'weekDayContents'}
							<td id="createEventAt-{date 'Y-m-d' $dayConfig.date}" class="content{if $dayConfig.today} ctoday{/if} {if $.foreach.weekDayContents.first} first{/if}{if $dayConfig.inCurrentMonth} inSelMonthTitle{/if}">
								{foreach $dayConfig.events eventHtml}
									{$eventHtml}
								{/foreach}
							</td>
						{/foreach}
					</tr>

				</table>
			</div>
		{/foreach}

		</div>
	</div>
</div>

<script type="text/javascript">
	Todoyu.Ext.calendar.setTitle('{$title}');
</script>