{if $displayWeekend}
	{$amountDaysShown = 7}
{else}
	{$amountDaysShown = 5}
{/if}
{$dateKeyToday = date('Ymd')}

<div class="mainGrid">
	<div id="gridContainer" class="weekMode {if $amountDaysShown == 5} fiveDays{/if}">

		{* --------------- Day event Bar Start ----------------------- *}
		<div class="gridHeader" id="gridHeader">
			<table class="wk-weektop"><tbody>
				{* --------------- Day names and dates ----------------------- *}
				<tr class="dayLabels">
					<td rowspan="2" class="timeSpacer"></td>
					{* ---------- Header: dates of the rendered week ------------ *}
					{foreach $dayColumns dayColumn}
						<th class="dayName dayCol {if $dayColumn.today}today todaywk-dayname{/if} {cycle values="odd,even"}" title="{$dayColumn.title}{if $dayColumn.today} ({Label calendar.ext.today}){/if}" scope="col" onclick="Todoyu.Ext.calendar.showDay('{$dayColumn.date}')">
						{$dayColumn.label}
						</th>
					{/foreach}

				</tr>

				{if sizeof($dayEvents) > 0}
				{* ------------ All-day events  ------------------ *}
				<tr>
					<td class="dayEvents" colspan="{$amountDaysShown}">
						<table>
							{* --------------- (TD Cell-width and) birthday items ------- *}

							{foreach $dayEvents dayDayEvents}
								<tr>
									{foreach $dayDayEvents dayEvent}
										{if is_array($dayEvent)}
											<td {if $dayEvent.length > 1}colspan="{$dayEvent.length}"{/if}>
												{$dayEvent.html}
											</td>
										{elseif $dayEvent == false}
											<td>&nbsp;</td>
										{/if}
									{/foreach}
								</tr>
							{/foreach}

							{* Make hidden columns to assure correct width for colspans. todo: combine tables and remove this *}
							<tr>
								{foreach $dayColumns dayColumn}
									<td class="dayCol"></td>
								{/foreach}
							</tr>

						</table>
					</td>
				</tr>
				{/if}
			</tbody></table>
		</div>
		{* --------------- All-day event Bar End ----------------------- *}

		{* --------------- Start scrolltimedevents ----------------------- *}
		<div id="calendarBody" class="wk-scrolltimedevents {if $showFullDay}full{/if} contextmenucalendarbody">
			<table class="tg-timedevents" id="tgTable">
				<tbody><tr>
					<td class="wid40"></td>
					<td colspan="{$amountDaysShown}">
						<div class="tg-hourmarkerwrapper">
							<div class="tg-hourmarkers">
								{* --------- Hour splitting lines -------- *}
								{for hourmarker 0 23}<div class="tg-dualmarker"></div>{/for}
							</div>
						</div>
					</td>
				</tr><tr>
					<td class="colHours">
						{for hour 0 23}
							<div class="hour">
								{if $hour < 10}0{/if}{$hour}:00
							</div>
						{/for}
					</td>
					{* -------- Week event inserters -------- *}
					{foreach $events dayKey eventsOfDay 'weekdays'}
						<td class="dayCol {if $dayKey == $dateKeyToday}today{$amountDaysShown}{/if}">
							<div class="tg-colwrapper">
								<div id="tgCol{$.foreach.weekdays.index}">
									{foreach $eventsOfDay eventHtml}
										{$eventHtml}
									{/foreach}
								</div>
							</div>
						</td>
					{/foreach}

				</tr></tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	Todoyu.Ext.calendar.setTitle('{$title}');
</script>