@import "../../../../core/config/theme.scss";



/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconSearch {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconSearch .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

.areaBox {
	background-color:$colorNeutral01;
	border-radius:5px;
	margin:3px 0;
	padding:3px;
}



/* --------------------------
	Filter controls
   -------------------------- */
#filter-controls {
	optgroup {
		font-weight:bold;

		option {
			padding-left:10px;
		}
	}

	span{
		select {
			background-color:$white;
		}

		&.sorting {
			float:right;
			margin: 0 12px 0 0;

			select {
				max-width:250px;
				min-width:200px;
				margin-right:12px;
			}
		}
	}

	.conditions option {
		border-bottom:1px solid $colorNeutral02;
		color:$colorNeutral09;

		&.default {
			padding:0;
		}
	}

	.headerLine span {
		margin:2px 0 0 5px;
	}
}

#sorting-flags {
	.sort {
		@include gradient-button;
		border:1px solid $colorNeutral04;
		border-radius:5px;
		float:left;
		padding:2px 3px;
		margin:2px 2px;

		span {
			float:left;

			&.action {
				cursor:pointer;
				height:14px;
				margin-left:4px;
				width:12px;
			}
		}

		.dir {
			background:url(../img/icons.png) no-repeat 2px -355px;

			&.desc {
				background-position:2px -385px;
			}
		}

		.label {
			margin-right:2px;
			padding-left:2px;
			-webkit-user-select:none;
			-khtml-user-select:none;
			-moz-user-select:none;
			-o-user-select:none;
			user-select:none;
			cursor:pointer;
		}

		.remove {
			background:url(../../../../core/asset/img/icons.png) no-repeat 1px -1757px;
		}
	}
}

#action-panel {
	border-top-left-radius:0;
	border-top-right-radius:0;
	margin-top:0;
	padding-bottom:5px;
	padding-top:5px;
}

#search-results .results {
	font-weight:bold;
}