<div class="main">
	<input type="text" title="{Label core.global.input.autocompleter}" class="input textAC" id="{$htmlID}" value="{htmlencode $valueLabel}" />
	<div id="{$htmlID}-suggestions" class="acResultContainer"></div>
	<input id="{$htmlID}-value" type="hidden" name="{$fieldname}" value="{$inputValue}" />
</div>
<div class="extra">
	{block "extra"}{/block}
</div>