<a id="{$id}-button" {foreach $buttonAttributes buttonAttributeName buttonAttributeValue}{$buttonAttributeName}="{$buttonAttributeValue}" {/foreach}>&nbsp;</a>

{if $content}
<ul id="{$id}-content" class="content " {if !$open}style="display:none"{/if}>
	{$content}
</ul>
{/if}