<!-- <ul id="{$id}-menu"> -->
	{foreach $items item}
		<li class="{$item.class}" id="menuItem-{$item.id}">
			<a class="{$name}-item-{$item.id}">{Label $item.label}</a>
		</li>
	{/foreach}
<!-- </ul> -->