<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Todoyu</title>
<style type="text/css">
{$styles}
</style>
</head>

<body>
{$bodytext}
</body>
</html>