<form id="panelwidget-{$id}-form">
	<label for="panelwidget-{$id}-searchword">{Label core.global.search}</label>
	<input type="text" id="panelwidget-{$id}-searchword" value="{htmlencode $searchWord}" />
	<a class="icon clearIcon hidden" id="panelwidget-{$id}-clear"></a>
</form>
<script type="text/javascript">
{$jsInit}
</script>