
Usage of todoyu scheduler
====================================================

Call by cronjob or manually with:
	PHP path/to/scheduler.phpsh

Parameters:
	No parameters:
		Run all active tasks
	Classname:
		Run only the given class (has to be a scheduler job)
	"help":
		Show this message
