<div class="main">
{select options=$options name="$fieldname" value=$value id=$htmlID class=$class size=$size multiple=$multiple disabled=$disabled onchange=$onchange onclick=$onclick noPleaseSelect=$noPleaseSelect}
</div>
<div class="extra">
	{block "extra"}{/block}
</div>