<object id="{$id}" height="{$height}" width="{$width}" align="" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
	<param value="{$src}" name="movie"/>
	<param value="{$quality|default:"high"}" name="quality"/>
	<param value="{$bgColor|default:"#FFFFFF"}" name="bgcolor"/>
	<embed height="{$height}" width="{$width}" src="{$src}" align="" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="legend" bgcolor="#FFFFFF" quality="{$quality|default:"high"}" />
</object>