<form action="?" method="get" name="search" id="search-form" onsubmit="return false">
	<input type="hidden" name="ext" value="search" />
	<input type="hidden" name="action" value="view" />
	<div id="search-mode"><div id="search-modeicon"></div></div>
	<input name="query" id="search-query" type="text" autocomplete="off" />
	{include "search/view/modes.tmpl"}
</form>