<div class="resultinfo error">
	<div class="title">{Label sysmanager.repository.error.general}</div>
	<div class="message">{$message}</div>
	<div class="info">{Label sysmanager.repository.error.general.info}</div>
</div>