{Title title="LLL:sysmanager.ext.browse.title"}

<div class="extensionSearch">
	<div class="control">
		{$form}
	</div>

	<div class="results extListing" id="repository-search-results">
		{$results}
	</div>
</div>

<script type="text/javascript">
	Todoyu.Ext.sysmanager.Repository.Search.init();
</script>