@import "../../../../core/config/theme.scss";



/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconTimetracking {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconTimetracking .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}


button {
	&.startTracking .icon {
		background:url(../img/icons.png) no-repeat 3px -28px;
		width:26px;
	}

	&.stopTracking .icon {
		background:url(../img/icons.png) no-repeat 3px 2px;
		width:26px;
	}
}



/* ------------------------------
	Task context menu
   ------------------------------ */
#contextmenu {
	.task-timetrackstart {
		background-image:url(../img/icons.png) !important;
		background-position:4px -28px;
	}

	.task-timetrackstop {
		background-image:url(../img/icons.png) !important;
		background-position:4px 2px;
	}
}



/* --------------------
	Task injections
   -------------------- */
.task {
	.overtimed {
		color:$colorAlert01 !important;
	}

	.taskIcons .overtimed {
		background:url(../img/icons.png) no-repeat 0 -297px;
		width:14px !important;
	}

	&.running {
		> h3 {
			background-color:$colorHighlight02;
		}

		&.expanded > h3 {
			background-color:$colorHighlight02;

			.headLabel span {
				font-weight:bold;
			}
		}
	}

	&.runningother {
		> h3 {
			background-color:#F0F0FF;
		}
		&.expanded > h3 {
			background-color:#F0F0FF;
		}
	}
}


/* --------------------
	Task tab
   -------------------- */
span.notracksyet {
	padding-left:5px;
}


.taskTabs {
	.trackingControl{
		.button {
			float:left;
			margin-right:5px;
		}

		.trackingInfo {
			margin:5px 0 0 5px;
			float:left;

			span {
				display:inline-block;

				.label {
					margin-right:3px;
				}
			}

			.time {
				font-weight:bold;
			}

			.totalChargeableTime {
				margin-left:20px;
			}
		}
	}
}



/* --------------------
	Task
   -------------------- */
.task .taskHeadExtras .billingtime {
	width:30px;
	padding:0 3px;
}



/* -------------------------
	Task timetracking tab
   ------------------------- */
.task .taskTabs .tabs .timetracking .icon {
	background:url(../img/icons.png) no-repeat 0 -205px;
}
.task.running > .details .taskTabs .tabs .timetracking .icon {
	background-position:0 5px;
}



/* ------------------
	Panel
   ------------------ */
#timetrackingPanel {
	background-color:$colorNeutral00;
	padding:2px 12px 4px 12px;
	position:absolute;
	right:2px;
	border:1px solid $blue07;
	border-width:0 2px 1px 2px;

	ul li {
		float:left;
		margin-left:10px;
		padding-left:10px;

		&.first {
			margin:0;
			padding:0;
		}
	}
}