<div class="notification">
	<form>
		<div class="left">
			<span class="iconLarge iconNotifyLarge warn"></span>
		</div>
		<div class="right">
			<div class="inner">
				{include file="overbooking-info.tmpl"}
				<br />{Label calendar.event.warning.overbooked.confirmsave}
			</div>

			{$buttonsFieldset}
		</div>
	</form>
</div>