<h1 class="headerLine">
	<span class="first">{Label calendar.ext.profile.module.share.header}</span>
	<span class="rgt"></span>
</h1>
<p class="profileConfigExplanation">
	{Label calendar.ext.profile.module.share.explanation1}<br />
	{Label calendar.ext.profile.module.share.explanation2}<br />
	<br />
	{Label calendar.ext.profile.module.share.explanation3}<br /><br />
	<span class="iCalBaseURL">{$iCalURL}</span><br /><br />
	{Label calendar.ext.profile.module.share.explanation4}<br /><br />
	<span class="iCalBaseURL">{$iCalURLdownload}</span>
</p>

{$form}