{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<input type="{$type}" name="{$htmlName}" id="{$htmlId}" value="{htmlencode $valueTemplate}" class="{$inputClass} {$class}" {if $disabled}disabled="disabled"{/if} maxlength="{$maxlength|default:"250"}" {$extraAttributes} />
{/block}