<div id="taskList" class="projectTaskList">
	<div id="project-{$id}" class="project project-status-inprogress">
		{$header}
		<div id="project-{$id}-tasks" class="tasks">
			{$taskTree}
		</div>
	</div>
</div>