<div id="project-{$idProject}" class="project status{ucfirst $statusKey} projecttasktree">
	{$header}
	<div id="project-{$idProject}-tasks" class="tasks taskTree">
		{$tasktree}

		{$losttasks}
	</div>
</div>