<h1 class="title headerLine contextmenuproject" id="project-{$id}-header" {if isAllowedSeeProjectDetails($id)}onclick="Todoyu.Ext.project.Project.toggleDetails({$id})"{/if}>
	<div class="projectstatus bcStatus{$status}"></div>
	<span id="project-{$id}-titlelabel" class="title titleLabel first" title="ID:{$id} - {htmlencode $fulltitle}">
		{htmlencode $fulltitle}
	</span>

	<span class="projectIcons">
		{foreach $projectIcons projectIcon}
			<span id="{$projectIcon.id}" class="{$projectIcon.class}" title="{Label $projectIcon.label}" {if $projetIcon.onclick}onclick="{$projectIcon.onclick}"{/if}></span>
		{/foreach}
	</span>
</h1>

{if isAllowedSeeProjectDetails($id)}
<div id="project-{$id}-details" class="projectDetails" {if ! $details} style="display:none"{/if}>
	{$details}
</div>
{/if}