<div class="taskListing">

{* ---------- Header with column titles ---------- *}
	<h1 class="headerLine">
		<span class="first taskDate">{Label portal.ext.tasktree.header.date}</span>
		<span class="customer">{Label portal.ext.tasktree.header.customer}</span>
		<span class="projectName">{Label project.ext.project} - {Label project.task.task}</span>
		<span class="taskNumber">{Label portal.ext.tasktree.header.tasknumber}</span>
		<span class="rgt"><!-- right --></span>
	</h1>

{* ---------- The actual list of tasks ---------- *}
	<div class="tasks" id="tasks">
		{foreach $tasks taskHTML}
			{$taskHTML}
		{else}
			{contentMessage 'portal.ext.selection.noTasksFound'}
		{/foreach}
	</div>
</div>
<script type="text/javascript">
{$javascript}
</script>