<div style="width:1px;height:220px"></div>
<p>{Label firststeps.ext.wizard.start.dontUseWizard}. <br />
{Label firststeps.ext.wizard.start.reactivateInAdmin}</p>
{Button class="disableWizard" label="firststeps.ext.wizard.start.disableAssistant" onclick="Todoyu.Ext.firststeps.disableWizardAndClose()"}
<br /><br />
