<div id="filter-controls" class="overflow">
	{$filterControls}
</div>

<div id="action-panel" class="overflow areaBox">
	{$actionPanel}
</div>

<div id="sorting-flags" class="overflow areaBox" style="display:none">

</div>

<div id="widget-area" class="overflow">
	{$activeWidgets}
</div>

<div id="search-results" class="overflow">
	{$searchResults}
</div>

{if $init}
<script>{$init}</script>
{/if}