<p class="instructiontext">
	{Label $instructionText}
</p>

{Button label="$buttonText" onclick="Todoyu.Ext.contact.PanelWidget.ContactExport.exportResults()" class="exportCsv $contactType" id="export-$contactType"}