/* -------------------------------------
	QuickInfo icons for person infos
   ------------------------------------- */
#quickinfo dt.nameIcon {
	background:url(../img/icons.png) no-repeat 4px 2px;
}

#quickinfo dt.emailIcon {
	background:url(../img/icons.png) no-repeat 5px -296px;
}

#quickinfo dt.phoneIcon {
	background:url(../img/icons.png) no-repeat 4px -268px;
}

#quickinfo dt.birthdayIcon {
	background:url(../img/icons.png) no-repeat 5px -328px;
}


