.mimetype span.icon {
	background:url('../img/icons.png') no-repeat 0 -90px;
	background-repeat:no-repeat;
}

.mimeINI span.icon,
.mimeTXT span.icon,
.mimeRTF span.icon {
	background-position:0 -780px;
}

.mimeEML span.icon {
	background-position:0 -300px;
}

.mimeXLS span.icon,
.mimeXLSX span.icon,
.mimeODS span.icon {
	background-position:0 -330px;
}

.mimeCSV span.icon {
	background-position:0 -882px;
}

.mimePDF span.icon {
	background-position:0 -120px;
}

.mimeDOC span.icon,
.mimeDOCX span.icon,
.mimeSXW span.icon,
.mimeODT span.icon{
	background-position:0 -390px;
}

.mimeT3X span.icon {
	background-position:0 -420px;
}

.mimePHP span.icon {
	background-position:0 -360px;
}

.mimeBMP span.icon,
.mimeGIF span.icon,
.mimeJPG span.icon,
.mimeJPEG span.icon,
.mimePNG span.icon,
.mimePSD span.icon,
.mimeTIF span.icon,
.mimeTIFF span.icon,
.mimeXCF span.icon {
	background-position:0 -450px;
}

.mimeAI span.icon,
.mimeEPS span.icon,
.mimeDXF span.icon,
.mimeSVG span.icon,
.mimeWMF span.icon{
	background-position:0 -814px;
}

.mimeAVI span.icon,
.mimeMOV span.icon,
.mimeMP4 span.icon,
.mimeMPEG span.icon,
.mimeMPG span.icon,
.mimeWMV span.icon,
.mimeRAM span.icon,
.mimeRM span.icon {
background-position:0 -848px;
}

.mimeHTML span.icon,
.mimeHTM span.icon,
.mimeTMPL span.icon{
	background-position:0 -480px;
}

.mimeXML span.icon{
	background-position:0 -510px;
}

.mimeJS span.icon {
	background-position:0 -540px;
}

.mimeCSS span.icon {
	background-position:0 -570px;
}

.mimePPT span.icon,
.mimePPS span.icon {
	background-position:0 -600px;
}

.mimeZIP span.icon,
.mimeTAR span.icon,
.mimeRAR span.icon,
.mimeBZ2 span.icon,
.mimeTGZ span.icon,
.mimeGZ span.icon,
.mime7Z span.icon{
	background-position:0 -150px;
}

.mimeEXE span.icon,
.mimeBIN span.icon,
.mimeDLL span.icon,
.mimeCONF span.icon{
	background-position:0 -720px;
}