{if !empty($records) && sizeof($records) > 0}
	<span class="icon"></span>
	<span class="label">{Label contact.form.warning.duplicatedEntries}:</span>

	<ul class="duplicatedList">
		{foreach $records record}
			<li>{$record.title}</li>
		{/foreach}
	</ul>
{/if}