<h1 id="person-{$idPerson}-header" class="title headerLine contextmenuperson">
	<span title="ID: {$idPerson}" class="title titleLabel first" id="person-{$idPerson}-titlelabel">
		{$firstname} {$lastname}
		{if $id == 0}{Label contact.ext.person.header.noneselected}{/if}
	</span>
	<span class="personIcons"> </span>
</h1>
<div style="display:none;" id="person-{$idPerson}-details"> </div>