{* --------------- Details *}
<span title="{Label contact.ext.person.details}" class="icon info" onclick="Todoyu.Ext.contact.Person.show({$id})"></span>

{if constant('AREA') === constant('EXTID_CONTACT')}
	{* --------------- Edit *}
	{if isPersonEditAllowed($id)}
		<span title="{Label contact.ext.person.edit}" class="icon edit" onclick="Todoyu.Ext.contact.Person.edit({$id})"></span>
	{else}
		<span title="{Label contact.ext.person.edit}" class="icon edit disabled"></span>
	{/if}

	{* --------------- Delete *}
	{if isPersonDeleteAllowed($id)}
		<span title="{Label contact.ext.person.delete}" class="icon delete" onclick="Todoyu.Ext.contact.Person.remove({$id})"></span>
	{else}
		<span title="{Label contact.ext.person.delete}" class="icon delete disabled"></span>
	{/if}
{/if}