@import "../../../../core/config/theme.scss";



div.taskparent-ac {
	position:absolute;
	width:250px;
	background-color:$white;
	border:1px solid $colorApprove06;
	margin:0;
	padding:0;
}

div.taskparent-ac ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

div.taskparent-ac ul li.selected {
	background-color:$colorNotice00;
}

div.taskparent-ac ul li {
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	height:32px;
	cursor:pointer;
}