<span title="{Label sysmanager.ext.roles.edit}" class="icon edit" onclick="Todoyu.Ext.sysmanager.Roles.edit({$id})"></span>
<span title="{Label sysmanager.ext.roles.delete}" class="icon delete" onclick="Todoyu.Ext.sysmanager.Roles.remove({$id})"></span>