@import "../../../../core/config/theme.scss";



/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconDaytracks {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconDaytracks .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* -----------------------------
	CSV - Export Popup
   ----------------------------- */
#time-export .itemlist li {
	background:url("../../../../core/asset/img/icons.png") no-repeat scroll 10px -357px transparent;
	border-bottom:1px dashed $colorNeutral03;
	cursor:pointer;
	padding:3px 3px 3px 30px;
	text-align:left;
}

#export-field-view span.icon {
	background:url("../../../../core/asset/img/icons.png") no-repeat 2px -1858px;
}

table.daytracks-export-view {
	border-width:0 0 1px 1px;
	border-spacing:0;
	border-collapse:collapse;
	border-style:solid;
	border-color:$colorNeutral02;

	tr.odd {
		background-color:$colorNeutral01;
	}

	td {
		margin:0;
		padding:4px;
		border-width:1px 1px 0 0;
		border-style:solid;
		border-color:$colorNeutral02!important;
	}
}