@import "../../../../core/config/theme.scss";
@import "../../../project/config/theme.scss";



/* ---------------------
	Container
------------------------ */
#daytracks-history {
	margin:5px;
	text-align:left;

	form {
		select {
			width:140px;
		}
	}

	.selectors {
		padding:8px;
		background-color:$colorNeutral01;

		select {
			background-color:$white;
		}

		.floatLeft label {
			line-height:18px;
		}

		.toggleDetails {
			margin-left:5px;

			a {
				padding:0;

				&.close {
					background:transparent url(../img/icons.png) no-repeat 0 -30px;
				}

				&.open {
					background:transparent url(../img/icons.png) no-repeat 0 -60px;
				}
			}
		}

		#showtracksdetails {
			top:2px;
		}
	}
}

#daytracks-history .detailsToggle,
#daytracks-history .detailsToggle * {
	cursor:pointer;
}

#daytracks-history-trackings div.divider,
#daytracks-history-trackings .details div.divider {
	height:1px;
	background-color:$colorNeutral02;
	padding:0;
	border:none;
	margin:-1px 0 1px 0;
}

/* ---------------------
	Button icons
------------------------ */
button {
	&.daytracksexpand .icon {
		background:transparent url(../img/icons.png) no-repeat 0 -60px !important;
	}
	&.daytrackscollapse .icon {
		background:transparent url(../img/icons.png) no-repeat 0 -30px !important;
	}
}



/* ----------------------
	Month info box
   ---------------------- */
.monthInfo {
	padding:5px;
	margin:0 0 8px 0;
	background-color:$white;

	dt {
		float:left;
		width:110px;
	}

	dd {
		float:left;
		width:110px;
	}
}



/* ---------------------
	Tracks
------------------------ */
#daytracks-history-trackings {
	margin:10px 0;
	padding-bottom:5px;
	border:0 solid #bababa;

	h1 {
		@include gradient-header;
		margin-bottom:6px;

		&.monthTotal,
		&.cwTotal {
			padding:5px 5px 5px 10px;
			//font-weight:bold;
		}

		&.cwTotal {
			border:none;
			text-align:right;
		}
	}

	.details {
		a {
			&:hover div {
				background-color:$colorHighlight04;
			}

			div {
				&.daytrackdetail {
					margin-bottom:1px;

					&.deleted {
						background-color:$colorNeutral00;

						* {
							color:$colorNeutral07;
						}
					}
				}
			}
		}
	}

	.daytrack.toggled {
		background-color:$colorNeutral01;
		text-transform:uppercase;
		letter-spacing:1px;
	}
}

#daytracks-history-trackings .details div,
#daytracks-history-trackings .daytrack {
	border-left:4px solid;
	background-color:$white;
	padding:5px;
	text-align:left;

	&.daytracksum {
		border-color:$white;
	}
		/* planning */
	&.bcStatus1 {
		border-color:$colorStatusPlanning;
	}
		/* open */
	&.bcStatus2 {
		border-color:$colorStatusOpen;
	}
		/* progress */
	&.bcStatus3 {
		border-color:$colorStatusProgress;
	}
		/* confirm */
	&.bcStatus4 {
		border-color:$colorStatusConfirm;
	}
		/* done */
	&.bcStatus5 {
		border-color:$colorStatusDone;
	}
		/* accepted */
	&.bcStatus6 {
		border-color:$colorStatusAccepted;
	}
		/* rejected */
	&.bcStatus7 {
		border-color:$colorStatusRejected;
	}
		/* cleared */
	&.bcStatus8 {
		border-color:$colorStatusCleared;
	}
		/* warranty */
	&.bcStatus9 {
		border-color:$colorStatusWarranty;
	}
		/* customer */
	&.bcStatus10 {
		border-color:$colorStatusWaiting;
	}

	&.notInCurrentMonth {

		span {
			color: $colorNeutral04;
		}
	}
}

#daytracks-history-trackings .details div .daytrackdetail.last,
#daytracks-history-trackings .daytrack.last,
.daytrackdetail.last {
	border-bottom:none!important;
}



span.daytrackDate {
	display:inline-block;
	width:150px;
	padding:0 20px 0 20px;
	text-align:right;
}

.toggled span.daytrackDate {
	width:auto;
}

span.daytrackHours,
.daytrackdetail .tasktitle,
.daytrackdetail .time,
.daytrackdetail .cw,
span.daytrackCW {
	padding-left:15px;
}

span.daytrackHours {
	padding-left:20px;
}

#daytracks-history-trackings {
	.daytrackdetail span{
		&.task {
			text-align:left;

			span{
				&.tasknumber {
					width:60px;
					display:inline-block;
					text-align:right;
					vertical-align:top;
				}

				&.tasktitle {
					width:330px;
					padding-right:10px;
					display:inline-block;
					vertical-align:top;
				}
			}
		}

		&.time {
			width:80px;
			display:inline-block;
			text-align:right;
		}
	}

	.toggled {
		//margin-top:5px;
		border-width:1px 0;
	}

	.total {
		border-style:solid;
	}
}