<div class="notification emailInfo">
	<h1>
		<span class="iconLarge iconNotifyLarge reminder"></span>
		<span class="label">{$subject}</span>
	</h1>

	<div class="eventDetails">
		{include file="../event-view-details.tmpl"}
	</div>

	{$mailingForm}
</div>
