<div class="notification reminder">
	<h1>
		<span class="iconLarge iconNotifyLarge reminder"></span>
		<span class="label">{$datetime} - {$event.title}</span>
	</h1>

	<div class="eventDetails">
		{include file="../event-view-details.tmpl"}
	</div>

	{$reminderFormHtml}
</div>
