{Label loginpage.ext.forgotpassword.mail.confirmation.title}

========================================================================
{Label loginpage.ext.forgotpassword.mail.confirmation.text}
========================================================================
{Label loginpage.ext.forgotpassword.mail.toconfirmation}: <{$confirmationlink}>
========================================================================