{Label loginpage.ext.mail.passwordreset.title}

========================================================================
{Label loginpage.ext.mail.passwordreset.text}
========================================================================
{Label loginpage.ext.mail.tologin}: <{$loginlink}>
========================================================================
{Label loginpage.ext.mail.yourusername}: {$username}
{Label loginpage.ext.mail.yournewpassword}: {$newPassword}
========================================================================