<noscript>
	<div id="loginform-javascriptcheck">
		{Label LLL:loginpage.ext.form.javascriptcheck}<br />
		<a href="{$javaScriptManual}" target="blank">{Label LLL:loginpage.ext.form.javascriptcheck.linklabel}</a>

	</div>
</noscript>
<script type="text/javascript">
	Todoyu.Ext.loginpage.checkCookie();
</script>