<div id="news-local">
	<p>todoyu is optimized for Firefox. We also support Safari, Chrome and Internet Explorer.</p>
</div>

{if $content}
	<div id="news-live" style="display:none">
		{$content}
	</div>
{/if}
