<br clear="all" />
<div class="todoyuInfo" id="todoyu-info">
<strong>todoyu.</strong> Copyright &copy; 2006-{date('Y')} snowflake productions GmbH, Zurich.<br />
Extensions are copyright of their respective owners. Please visit <a href="http://www.todoyu.com?utm_source=todoyulogin&utm_medium=web&utm_campaign=todoyu" target="_blank" style="text-decoration:underline" title="todoyu | get tasks done with your team">todoyu.com</a> for details. todoyu comes with ABSOLUTELY NO WARRANTY. This is free software, and you are welcome to redistribute it under certain conditions.<br />
Obstructing the appearance of this notice is prohibited by law.
</div>