<tr class="headerLine">
	<th scope="col" class="icon">&nbsp;</th>
	<th scope="col" class="extkey">{Label sysmanager.extension.keyAbbr}</th>
	<th scope="col" class="title">{Label core.global.title}</th>
	<th scope="col" class="edit">&nbsp;</th>
	<th scope="col" class="version">{Label core.global.version}</th>
	<th scope="col" class="download">&nbsp;</th>
	<th scope="col" class="doc">&nbsp;</th>
	<th scope="col" class="status last">&nbsp;</th>
</tr>