{Header title="sysmanager.extension.uninstall.ok"}

<div class="contentMessage importInfo">
	<div class="icon"></div>
	{Label sysmanager.extension.uninstall.aftermessage}
</div>

<div class="uninstalled">
	{Button class="download" label="sysmanager.extension.download" onclick="Todoyu.Ext.sysmanager.Extensions.download('$ext')"}
	{Button class="delete" label="sysmanager.extension.delete" onclick="Todoyu.Ext.sysmanager.Extensions.remove('$ext')"}
	{Button class="install" label="sysmanager.extension.install" onclick="Todoyu.Ext.sysmanager.Extensions.Install.install('$ext')"}
</div>