@import "../../config/theme.scss";

.typeRecords {
	.results,
	.selection {
		list-style:none inside;
		padding-left: 4px;
		padding-bottom: 0;
		line-height:150%;

		li {
			padding:4px;
			display:block;

			.recordIcon {
				margin-right:5px;
			}
		}
	}

	.results {
		border:1px solid $colorNeutral03;
		background-color:$colorNeutral00;
		border-top:none;
		margin-top: -1px;

		li {
			cursor:pointer;

			&:hover {
				background-color:$colorNeutral01;
			}

			&.hot {
				font-weight:bold;
			}
		}
	}

	.selection {
		margin-top:5px;

		li {
			.remove {
				float:right;
				background:url(../img/icons.png) no-repeat 2px -358px;
				cursor:pointer;
			}
		}
	}
}

