@import "../../config/theme.scss";



#todoyuheadletquickcreate {
	.button {
		background:url(../img/headlet-icons.png) no-repeat 1px 6px; }

	.content li.primary {
		border-bottom:1px solid $colorNeutral02;
		background-color:$colorCorporate01;

		a:hover {
			background-color:$white !important; }
	}
}