@import "../../config/theme.scss";



.inlineFilters {
	padding:6px;
	margin-bottom:10px;
	background-color:$colorNeutral01;

	.filter {
		border:1px solid $colorNeutral02;
		background-color:$white;
		padding:10px;
		margin-bottom:5px;

		> div {
			display:inline-block; }

		.label {
			width:140px;
			padding:2px 0;
			vertical-align:top; }

		.input {
			width:483px;

			.main,
			.extra {
				float:left; }
		}

		&.typeAutocompleteMulti .main,
		&.typeSelectMulti .main {
			width:240px; }

		&.typeAutocompleteMulti .extra,
		&.typeSelectMulti .extra {
			width:223px;
			margin-left:20px; }

		&.typeAutocomplete .textAC {
			width:400px; }

		&.typeAutocompleteMulti .textAC,
		&.typeSelect select {
			width:230px; }

		/* itemList */
		ul.itemList li {
			padding:2px 20px 2px 2px;
			border-bottom:1px solid $colorNeutral02;

			&:hover {
				background-color:$colorNeutral01; }

			span.remove {
				float:right;
				width:16px;
				height:16px;
				margin-right: -20px;
				background:url(../img/icons.png) no-repeat 0 -360px;
				cursor:pointer; }
		}
	}
}