@import "../../config/theme.scss";



div.overflowWindow {
	position:fixed;
	width:350px;
	padding:10px;
	background-color:$white;
	left:0px;
	top:0px;
	z-index:3000;
	opacity:0.95;
	box-shadow:2px 2px 5px $colorNeutral06;

	div.close {
		position:absolute;
		width:30px;
		height:30px;
		right:0px;
		top:0px;
		background:url(../img/icons.png) no-repeat 5px -1124px;
		cursor:pointer; }
}

#overflow-window-blocker {
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:$black;
	opacity:0.7;
	z-index:2999; }

.overlay_todoyu {
	background-color:$colorCorporate06;
	z-index:2999 !important; }