@import "../../config/theme.scss";



.panelWidget.searchList {
	form {
		.fLabel {
			width:50px; }

		.fField {
			width:180px; }

		#panel & {
			display:inline-block;
			width:95%;
			padding:1px 5px;
			margin-top:3px; }
	}

	ul {
		display:inline-block;
		width:95%;
		padding:5px; }

	li {
		line-height:18px;
		margin-bottom:1px;
		overflow:hidden;

		&:hover {
			background-color:$colorNeutral01; }

		a {
			display:block;
			padding-left:25px;
			height:18px;
			width:400px; }
	}
}