{extends main.tmpl}

{block name="box"}
	<div class="field">
		<input style="width:4%" type="checkbox" name="import" id="input" value="1" checked="checked">
		<label for="input">{Label install.installer.importdemodata.checkboxlabel}</label>
	</div>

	<br />
	<p>{Label install.installer.importdemodata.contains}</p>

	<input type="hidden" name="importdemodata" value="1" />
{/block}